.root{
  background: #485F69;
  color:white;
  padding:5px;
  border-radius: 10px;
  &:hover{
    cursor: pointer;
    background: #768b94;
    transition-duration: 180ms;
    color: #313131;
  }
  .fullWidth {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }
}

.inactive{
  color:white;
  background: #98A3A9
}