@import "src/scss/variables";

.root {
  height: 50px;
  width: 100%;
  background: rgb(169, 168, 168);
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: -1px 9px 15px -4px rgba(0, 0, 0, 0.28);
  box-shadow: -1px 9px 15px -4px rgba(0, 0, 0, 0.28);;

  .userContainer {
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: 10px;
    @media screen and (max-width: 600px) {
      font-size: 15px;
    }
    @media screen and (max-width: 600px) {
      font-size: 14px;
      margin-left: 5px;
    }
  }

  .welcome {
    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  .userName {
    font-weight: 700;
  }

  .userImage {
    width: 25px;
    height: 25px;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
  }

}