@import "src/scss/variables";

.sidebarRoot {
  color: white;
  height: 100%;
  width: 160px;
  position: fixed;
  margin-top: 50px;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(195, 195, 195, 0.87);
  overflow-x: hidden;

  @media screen and (max-width: 520px) {
    width: 80px;
  }
  @media screen and (max-width: 520px) {
    width: 100%;
    height: 50px;
    position: absolute;
  }

  .sidebarContent {
    margin-top: 10px;
  }

  .sidebarElem {
    padding: 6px 8px 6px 16px;
    border: 1px #768b94 solid;
    font-size: 14.5px;
    color: black;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    background: rgba(220, 221, 222, 0.46);
    @media screen and (max-width: 523px) {
      width: 70px;
      padding: 3px;
      text-align: center;
      font-size: 10px;
    }

    &:hover {
      cursor: pointer;
      background: $navigation-button_hover;
      -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
      transform: scale(1.02);
    }
  }

}